[Desktop Entry]
Type=Application
Exec=guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=DropDownTerminal
Name=DropDownTerminal
Comment[en_US]=
Comment=
