[Desktop Entry]
Type=Application
Version=1.0
Name=mattermost-desktop
Comment=mattermost-desktopstartup script
Exec=/opt/Mattermost/mattermost-desktop --hidden
StartupNotify=false
Terminal=false